@import "./variable";
.about-header{
    position: relative;
    width: 100%;
    background:rgba(0, 0, 0, 0.4) url(../images/header-london.png)  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    color: #fff;
    h2{
        position: relative;
        top:-7%;
        font-size: 50px;
        color: #fff;
    }
    .about-header-nav{
        position: relative;
        top:-7%;
        a{
            color: #cecece;
            margin: 10px;
            font-size: 20px;
            text-decoration: none;
            &:hover{
                color: #fff;
            }
        }
    }
}
.gallery-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    a{
        width:calc(91% / 3);
        margin: 1.5%;background: rgba(0, 0, 0, 0);
        &:hover img{
            box-shadow: 5px 5px  10px -3px rgba(0,0,0,.75);
        }
        img{
            width:100%;
            transition: all .3s;
        }
    }
} 
@media (max-width:1200px){
    .gallery-about{
        a{
            width:calc(91% / 2);
            }   
        }
}  
@media (max-width:700px){
    .gallery-about{
        a{
            width:95%;
            }   
        }
}  