@import "./variable";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Roboto', sans-serif !important;
    background-color: $bg-body;
    min-width: 400px;
}
::-webkit-scrollbar{
    width: 6px;
    background: $bg-color-2;
}
::-webkit-scrollbar-thumb{
    background: $tect-activ-color;
    border-radius: 4px;
}
.regist{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11111111111111;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
   &.none{
       display: none;
   }
}
.regist .contactForm{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 350px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    .buttom-none{ 
        border: none;
        position: absolute;
        padding: 7px;
        top: 0;
        border-radius: 20px;
        right: 0;
        margin: 20px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.404);
        img{
            width: 100%;
        }
    }
}
.regist .contactForm h2{
    color: #272727;
    font-size: 24px;
    font-weight: 500;

}
.regist .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.regist .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;

}
.regist .contactForm .formBox .inputBox.w50{
    width: 100%;
}
.regist .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.regist .contactForm .formBox .inputBox input,
.regist .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom:1px solid #777 ;
    outline: none;
}
.regist .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
.regist .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.3s;
    pointer-events: none;   
}
.regist .contactForm .formBox .inputBox input:focus ~ span,
.regist .contactForm .formBox .inputBox textarea:focus ~ span,
.regist .contactForm .formBox .inputBox input:valid ~ span,
.regist .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $tect-activ-color;
}
.regist .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background:$tect-activ-color ;
    color: #fff;
    border: none;
    padding: 12px;
    max-width: 150px;
}
.regist .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #272727;
}