@import "./variable";
.section-footer{
    position: relative;
    display: flex;
    justify-content: center;
  
    background: $bg-section-color;
    align-items: center;
    min-height: 100vh;
}
.section-footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 37%;
    height: 100%;
    background: #27272E;
}
.section-footer .container11{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    
}
.section-footer .container11 .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: $bg-section-color;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.section-footer .container11 .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.section-footer .container11 .contactinfo .info{
    position: relative;
    margin: 20px 0;
}
.section-footer .container11 .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.section-footer .container11 .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
.section-footer .container11 .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 1;
}
.section-footer .container11 .contactinfo .info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 1;
}
.section-footer .container11 .contactinfo .info li:hover span:nth-child(1) img,
.section-footer .container11 .contactinfo .info li:hover span:nth-child(2){
opacity: 1;
}
.section-footer .container11 .contactinfo .sci
{
    position: relative;
    display: flex;

}
.section-footer .container11 .contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
}
.section-footer .container11 .contactinfo .sci li a{
    text-decoration: none;
}
.section-footer .container11 .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 1;
    width: 24px;
}
.section-footer .container11 .contactinfo .sci li:hover a img{
    opacity: 1;
}
.section-footer .container11 .contactForm{
    position: absolute;
    padding: 70px 50px;
    margin-left: 150px;
    padding-left: 250px;
    background: #fff;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.section-footer .container11 .contactForm h2{
    color: #272727;
    font-size: 24px;
    font-weight: 500;

}
.section-footer .container11 .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.section-footer .container11 .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;

}
.section-footer .container11 .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.section-footer .container11 .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.section-footer .container11 .contactForm .formBox .inputBox input,
.section-footer .container11 .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom:1px solid #777 ;
    outline: none;
}
.section-footer .container11 .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}
.section-footer .container11 .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.3s;
    pointer-events: none;   
}
.section-footer .container11 .contactForm .formBox .inputBox input:focus ~ span,
.section-footer .container11 .contactForm .formBox .inputBox textarea:focus ~ span,
.section-footer .container11 .contactForm .formBox .inputBox input:valid ~ span,
.section-footer .container11 .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $tect-activ-color;
}
.section-footer .container11 .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background:$tect-activ-color ;
    color: #fff;
    border: none;
    padding: 12px;
    max-width: 150px;
}
.section-footer .container11 .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #272727;
}
@media (max-width:1110px){
    .section-footer{
        align-items: flex-end;
        padding: 20px;
    }
    .section-footer .container11{
        min-width:100%;
        min-height: 100%;
        flex-direction: column;
    }
    
    .section-footer .container11 .contactinfo{
        margin: 0;
        top: 0;
        position:relative;
        width: 100%;
        display: flex;
      
    }
    .section-footer .container11 .contactinfo h2{
        text-align: center;
    }
    .section-footer .container11 .contactinfo .info{
        display: flex;
        justify-content: space-between;
    }
    .section-footer .container11 .contactinfo .sci{
        justify-content: center;
    }
    .section-footer .container11 .contactForm{
        position: relative;
        margin: 0;
        padding:20px;
        width: 100%;
        background: #fff;
        height: 100%;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    }
    .section-footer .container11 .contactForm h2{
     text-align: center;
    }
}
@media (max-width:768px){
    .section-footer .container11 .contactinfo .info{
        display: block;
    }
    .section-footer .container11 .contactinfo{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .section-footer .container11 .contactForm .formBox .inputBox:nth-child(6){
        display: flex;
        justify-content: center;
    }
}
@media (max-width:600px){
    .section-footer{
        padding: 0px;
    }
    .section-footer .container11 .contactForm .formBox .inputBox.w50{
        width:100%;
    }
}