@import "./variable";
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    &.bg-none{
        position: relative !important;
      }
}.navbar{
        display: flex;
        position: fixed;
        height: 100%;
        width: 0;
        justify-content: center;
        align-items: center;
        opacity: 0;
        z-index: -10;
        background: #fff;
        transition: all 0.5s;
        z-index: 11 !important ;
            ul{ 
                position: relative;
                top:-10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;
                z-index: 11;
                a{ z-index: 111;
                    color: $text-color-2;
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: 1.8em;
                    text-decoration: none;
                    font-weight: 600;
                    transform: scale(1);
                    transition: all .3s ease-in-out;
                    &:hover,&.active{
                    transform: scale(1.2);
                    color: $tect-activ-color;
                    }
                }
            }
      
    }
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 1s;
    box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
    .bg-2{
        position: absolute;
        width: 250px;
        height: 80px;
        right: 0;
        top: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius:100px;
        background:#FFC107;
        z-index: 1;
       }
    .navbar-brend{
        display: flex;
        align-items: center;
        z-index: 11111;
        position: absolute;
        top: 50%;
        font-size: 2em;
        left: 100px;
        transform: translate(0%, -50%);    
        color:#202020;
        font-weight: 700;
        transition: 1s;
        text-decoration: none;
        opacity: 0.9;
        .brend{
            display: flex;
            flex-direction: column;
            line-height: 0.9;
            span{
                font-size: 14px;
                color: #000;
                margin-left: 1px;
            }
        }
    }
    .toggle{
        display: none;
    }
    nav{
        z-index: 111;
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            li:last-child a{
                color: #fff;
                opacity: 1;
            }
            a{
                color: #000 ;
                display: inline-block;
                padding: 10px 15px;
                font-size: 1em;
                font-weight: 400;
                transition: all 0.2s;
                text-decoration: none;
                opacity: 0.7;
                &:hover,&.active{
                    color: #FFC107;
                    opacity: 1;
                }
            }
        }
    }
}
.carusel-block{
    width: 100%;
    background:rgba(255, 255, 255, 0);

   .bg{
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 1000px;
    left: 0;
    top: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius:100%;
    background:#FFC107;
   }
    .img-box img {
        width: 100%;
        
      } 
      .carousel-control-prev,
      .carousel-control-next {
      position: absolute;
      top: 50%;
      width: 45px ;
      height: 45px;
      border: none;
      opacity: 1;
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: center;
      border-radius: 5px;
    } 
    .carousel-control-prev {
        left: 25px;
      
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color:#fff ;
      } 
      .carousel-control-next {
        right: 25px;
 
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color:#FFC107;
      }
    .carousel{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            padding:100px 0;
            .carousel-item{
                padding:0 50px;
            }
            .row{
                align-items: center;
            }
            .detail-box{
                display: flex;
                align-items: center;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 30px;
                margin-bottom: 45px;
                h2{
                    text-transform: uppercase;
                    color: #fff;
                }
                h1 {
                font-size: 3rem;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                }
                p {
                margin-top: 15px;
                color: #fff;
                }
                a {
                display: inline-block;
                padding: 10px 40px;
                background-color: transparent;
                color: $text-color;
                border: 1px solid $text-color;
                border-radius: 5px;
                text-transform: uppercase;
                margin-top: 20px;
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    color: #FFC107;
                    border: 1px solid #FFC107;
                    background: #fff;
                }
            }
        }
    }
}
