@import "./variable";
.about{
    width: 100%;
    padding: 100px 50px;
    position: relative;
    img{
        position: relative;
        width: 100%;
    }
    .about-container{
        display: grid;
       grid-template-columns: auto auto;
        gap: 10px;
        width: 100%;
        .text_box{
            background: #27272E;
            padding: 50px;       
            box-shadow: 0.125rem 0.3125rem 1rem 0 rgba(73, 54, 54, 0.5);
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 70%;
                height: 90%;
                bottom: -10px;
                right: -10px;
                background: $bg-section-color;
                z-index: -11;
            }
            span{
                color: #FFf;
                font-size: 2.2rem;
                font-weight: 600;
                position: relative;
                padding: 5px;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    background:$tect-activ-color;
                    height: 5px;
                    width: 120%;
                }
            }
            p{
                padding: 40px;
                font-size: 20px;
                text-align: justify;
                color: #FFf;
            }
            a{
                padding: 15px 30px;
                margin: 10px;
                color: #FFf;
                border-radius: 5px;
                font-weight: 600;
                text-decoration: none;
                transition: all 0.3s;
                border: 1px solid $bg-body;
                &:hover{
                    border: 1px solid $tect-activ-color;
                    color: $text-color;
                    background: $tect-activ-color;
                }
            }     
        }
        .img_box{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 80%;
                height: 90%;
                bottom: -10px;
                left: -10px;
                background: $bg-section-color;
                z-index: -11;
            }
        }
    }
}
.courses{
    width: 100%;
    position: relative;
    background: url(../images/world_map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
    h2{
        position: absolute;
        top: 30px;
        text-transform:capitalize;
        font-size: 3em;
        font-weight: 700;
        color: #fff;

    }
    .container1{
        position: relative;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
    
    }
    .container1 .card1{
        position: relative;
        height: 250px;
        background: #202020;
        display: flex;
        width: 45%;
        margin:30px 0;
        border-radius: 4px;
    
    }
    .container1 .card1 .imgBx{
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        background: #202020;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out; 
        border-radius: 4px;
        border: 10px solid $tect-activ-color;
    }
    .container1 .card1:hover .imgBx{
        width: 150px;
        height: 150px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: $tect-activ-color;
        border: 1px solid #202020;
    }
    .container1 .card1 .imgBx::before{
        content: attr(data-text);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 6em;
        color: #fff;
        font-weight: 700;
        transition: 0.5s ease-in-out;
    }
    .container1 .card1:hover .imgBx::before{
        font-size: 2em; bottom: 20px;
        color: $text-color;
        z-index: 111;
    }
    .container1 .card1 .imgBx img{
        max-width: 200px;
        transition: ease-in-out 0.5s;    
    }
    .container1 .card1:hover .imgBx img{
        max-width: 75px;

    }
    .container1 .card1 .content{
        position: absolute;
        right: 0;
        width: calc(100% - 75px);
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1 .card1 .content h3{
        margin-bottom: 5px;
        font-size: 24px;
        color: $text-color;
    }
    .container1 .card1 .content p{
        color: $text-color;
    }
    .container1 .card1 .content a{
        display: inline-block;
        margin-top: 10px;
        padding: 15px 20px;
        border: 1px solid $text-color;
        border-radius: 4px;
        text-decoration: none;
        color: $text-color;
        &:hover{
            color: $tect-activ-color; 
            border: 1px solid $tect-activ-color;
        }
    }
    
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    min-height: 350px;
    margin: 0 20px;
  }
.teacher{
    background: $tect-activ-color;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 30px;
    >h2{
        position: absolute;
        top: 10%;
        font-size: 3em;
        font-weight: 700;
    }
}
.testimonial{
    position: relative;
    max-width: 100%;
}
.testimonial .card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $bg-color-2;
    padding: 60px 40px;
    text-align: center;
    overflow: hidden;
    transition: all 0.8s;
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
    &:hover{
        border: 2px solid #fff;
    }
}
.testimonial .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: #202020;
    z-index: 1;
    transition: all 0.5s;
}
.testimonial .card:hover .layer{
top: 0;
}
.testimonial .card .content{
    position: relative;
    z-index: 2;
}
.testimonial .card .content p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #202020;
    text-align: justify;
}
.testimonial .card:hover .content p{
    color: #fff;
    }
.testimonial .card .content .imgBx{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px auto;
    border-radius: 50px;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.testimonial .card .content h2{
    font-size: 18px;
    color: #202020;
    }
    .testimonial .card:hover .content h2{
        color: #fff;
        }
    .testimonial .card .content h2 span{
        color: #03a9f4;
        font-size: 14px;
        transition:0.5s;
    }
    .testimonial .card:hover .content h2 span{
        color: #fff;
    }