@media (max-width: 992px){
    .navbar.navbar-active{
        width: 100%;
        opacity: 1;
        z-index: 1;
    }
    header{
        overflow: hidden;
        nav{
            display: none;
        }
        .toggle{
            position: relative;
            display:block;
            z-index: 10000000;
            .s-2 {
                transition: all 0.1s;
              }              
            button{
                margin-top: 10px;
                outline: none;
                border: none;
                background-color: transparent;
                display: flex;
                padding: 0 12.5px;
                border-radius: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                span {
                    display: block;
                    width: 35px;
                    height: 3.5px;
                    background-color: $text-color;
                    margin: 3px 0;
                    transition: all 0.5s;
                    border-radius: 5px;
                }   
            }
            &.btn-active button .s-1 {
                transform: rotate(45deg) translate(7px, 7px);
                background-color: $text-color;
              }
              
              &.btn-active button .s-2 {
                transform: translateX(200px);
              }
              
              &.btn-active button .s-3 {
                transform: rotate(-45deg) translate(6px, -6px);
                background-color: $text-color;
              }
        }
    }
}
@media (max-width:1300px)
{
.about{
    width: 100%;
    padding:50px;
    position: relative;
    img{
        width: calc(100% - 20px);
    }
    .about-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .text_box{
            width: 80%;
            padding: 50px;
            span{
                font-size: 2.2rem;
                font-weight: 600;
                padding: 5px;
            }
            p{
                padding: 40px;
                font-size: 20px;
                color: $text-color;
            }
            a{
                padding: 15px 30px;
                margin: 10px;
                font-weight: 600;
                &:hover{
                    border: 1px solid $tect-activ-color;
                    color: $tect-activ-color;
                }
            }     
        }
        .img_box{
            position: absolute;
            top: 0px;
            left: 0;
        }
    }
}}
@media (max-width:992px)
{
    .courses{
        .container1{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .container1 .card1{
            width: 480px;
        }
    }

.about{
    width: 100%;
    padding:50px 10px;
    position: relative;
    img{
        width: calc(100% - 20px);
    }
    .about-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .text_box{
            width: 100%;
            padding: 50px;
            span{
                font-size: 2.2rem;
                font-weight: 600;
                padding: 5px;
            }
            p{
                padding: 10px;
                font-size: 20px;

            }   
        }
        .img_box{
            display: none;
            top: 0px;
        }
    }
}
}
@media (max-width:768px)
{
    header{
        padding: 0 20px;
    }
    .courses{
        .container1 .card1{
            max-width: 300px;
            flex-direction: column;
            height: auto;
        }
        .container1 .card1 .imgBx{
            position: relative;
        } 
        .container1 .card1 .imgBx,
        .container1 .card1:hover .imgBx{
            width: 100%;
            height: 100%;
            left: 0;
        }
        .container1 .card1 .imgBx img,
        .container1 .card1:hover .imgBx img{
            max-width: 100px;
            margin: 40px 0;
        }
        .container1 .card1 .content{
            position: relative;
            width: 100%;
        }
    }
    .about{
        width: 100%;
        padding:50px 10px;
        .about-container{
            width: 100%;
            .text_box{
                width: 100%;
                padding: 20px;
                span{
                    font-size: 2.2rem;
                    font-weight: 600;
                    padding: 5px;
                }
                p{
                    padding: 10px;
                    font-size: 20px;
                    color: $text-color;
                }
            }
            
        }
    }
}
@media (max-width:468px){
    header{

    
    .bg-2{
        width: 150px;
        height: 80px;
        border-top-left-radius: 100px;
        border-bottom-left-radius:100px;
        background:#FFC107;
        z-index: 1;
       }
    .navbar-brend{
        display: flex;
        align-items: center;
        z-index: 11111;
        position: absolute;
        top: 50%;
        font-size: 2em;
        left: 40px;
        transform: translate(0%, -50%);    
        color:#202020;
        font-weight: 700;
        transition: 1s;
        text-decoration: none;
    }}
    .about{
        width:100%;
        padding:20px 0;
        .about-container{
            width: 100%;
            .text_box{
                width: 100%;
                padding: 30px 20px;
                span{
                    font-size: 2.2rem;
                    font-weight: 600;
                    padding: 5px;
                }
                p{
                    padding: 10px;
                    font-size: 18px;
                    color: $text-color;
                }
            }
            
        }
    }
}
@media (max-width:375px){
    .about{
        width: calc(100% - 20px);
        padding:20px 10px;
        .about-container{
            width: 100%;
            .text_box{
                width: 100%;
                padding: 30px 20px;
                span{
                    font-size: 2.2rem;
                    font-weight: 600;
                    padding: 5px;
                }
                p{
                    padding: 10px;
                    font-size: 18px;
                    color: $text-color;
                }
            }
            
        }
    }
}

@media (max-width:1400px){
    .page-section-courses{
        .courses-card{
            display: flex;
            width: calc(100% - 10%);
            .nav{
                width: calc(30%);
                button{
                    text-align: left;
                }
            }
            .tab-content{
                width: 70%;
                border-radius: 4px;
                .accordion
                    .accordion-body{
                        table{
                            width: 100%;
                            tr{
                                display: flex;
                                justify-content: space-between;
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        } 
    }
    @media (max-width:650px){
        .w11{
            position: relative;
        }
        
        .page-section-courses{
            width: 100%;
            padding: 0;
            margin-top: 20px;
            display: none;
            .courses-card{
                display: flex;
                flex-direction: column;
                width: calc(100% - 10%);
                .nav{
                   
                    width: calc(100%);
                    margin-bottom: 20px;
                }
                .tab-content{
                    
                    width: 100%;
                    border-radius: 4px;
                    .accordion
                        .accordion-body{
                            table{
                                width: 100%;
                                tr{
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 5px 0;
                                }
                            }
                        }
                    }
                }
            } 
    }