@import "./variable";
.courses-header{
    position: relative;
    width: 100%;
    background:rgba(0, 0, 0, 0.4) url(../images/courses-img.jpg)  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    color: #fff;
    h2{
        position: relative;
        top:10%;
        left: -2%;
        font-size: 70px;
        color: #fff;
    }
    .about-header-nav{
        position: relative;
        top:10%;
        left: -2%;
        a{
            color: #cecece;
            margin: 10px;
            font-size: 20px;
            text-decoration: none;
            &:hover{
                color: #fff;
            }
        }
    }
}
.nav-link{
    padding: 15px !important;
}
.page-section-courses{
    width: 100%;
    min-height: 80vh;
    display: flex;
    padding: 125px 0; 
    justify-content: center;
    align-items: center;
    background:#f1f1f1;
    .courses-card{
        display: flex;
        width: calc(100% - 5%); 
        .nav{
            background: rgba(255, 255, 255, 0);
            width: calc(30% - 10%);
            border-radius: 4px;
            button{
                border-radius: 0;
                font-size: 20px;
                text-align: left;
                color: $tect-activ-color;
                box-shadow: 0px -2px 5px 1px rgba(15,15,18, 0.15);
                &:last-child{
                  border-bottom-left-radius: 5px; 
                  border-bottom-right-radius: 5px; 
                }
                &:first-child{
                    border-top-left-radius: 5px; 
                    border-top-right-radius: 5px; 
                  }
                &.active{
                    background: $tect-activ-color;
                    color: #fff;
                }
                
            }
        }
        .accordion-button::after{
                        background-image: url(../images/down-arrow.png);
                    }
        .tab-content{
            background: #27272e;
            width: 70%;
            border-radius: 4px;
            box-shadow: 0px 0px 5px 3px rgba(15,15,18, 0.15);
            
            .accordion{
                button{
                    border: none;
                    &.accordion-button:not(.collapsed){
                        background:  $tect-activ-color;
                        color: #fff;
                    }
                    &.accordion-button:focus,
                    &.accordion-button:not(.collapsed){
                        box-shadow: none;
                    }
                }
                a{
                    text-decoration: none;
                }
                .accordion-item,
                button{
                    font-size: 18px;
                   
                    color:  #fff;
                    background: none;
                }
                .accordion-body{
                    table{
                        width: 100%;
                        tr{
                            color: #fff;
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 0;  
                        }
                    }
                }
            }
        }
    }
}
