@import "./variable";
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    position: relative;
    
}
.container-video{
    width: 100%;
    display: block;
    margin: 0 auto;
    .row-video{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .youtube_video{
            width: 60%;
            background-color: #000;
            position: relative;
            padding-bottom: 33.25%;
            height: 0;

            iframe{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .gallery{
        display: flex;
        align-items: center;
        
        .item-col{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .video_content{
                padding: 10px;
                p{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;}
            }
            .item{
            width: 100%;
                position: relative;
                img{
                    width: 100%;
                    display: block;
                }
                .youtube_icon{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    background-color: rgba(0,0,0,.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color:rgba(0,0,0,.0);
                    }
                    & .active{
                        background-color:rgba(0,0,0,.0);
                        box-shadow: 5px 5px 10px;
                        img{
                            opacity: 0 !important;
                        }
                    }
                    img{
                        width:50px;
                    }
                }
            }
        }
    }
}
@media (max-width:778px){
    .youtube_video{
        width: 90% !important;
        padding-bottom: 50.25% !important;
    }
    .video{
        padding: 30px 0;
    }
}