@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #fcfcfc;
  min-width: 400px;
}

::-webkit-scrollbar {
  width: 6px;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #FFC107;
  border-radius: 4px;
}

.regist {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111111111111;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.regist.none {
  display: none;
}

.regist .contactForm {
  position: relative;
  padding: 50px;
  background: #fff;
  width: 350px;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.regist .contactForm .buttom-none {
  border: none;
  position: absolute;
  padding: 7px;
  top: 0;
  border-radius: 20px;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.404);
}

.regist .contactForm .buttom-none img {
  width: 100%;
}

.regist .contactForm h2 {
  color: #272727;
  font-size: 24px;
  font-weight: 500;
}

.regist .contactForm .formBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.regist .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.regist .contactForm .formBox .inputBox.w50 {
  width: 100%;
}

.regist .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.regist .contactForm .formBox .inputBox input,
.regist .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.regist .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

.regist .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.regist .contactForm .formBox .inputBox input:focus ~ span,
.regist .contactForm .formBox .inputBox textarea:focus ~ span,
.regist .contactForm .formBox .inputBox input:valid ~ span,
.regist .contactForm .formBox .inputBox textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFC107;
}

.regist .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #FFC107;
  color: #fff;
  border: none;
  padding: 12px;
  max-width: 150px;
}

.regist .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #272727;
}

.section-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFC107;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.section-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 100%;
  background: #27272E;
}

.section-footer .container11 {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer .container11 .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #FFC107;
  z-index: 1;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.section-footer .container11 .contactinfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.section-footer .container11 .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

.section-footer .container11 .contactinfo .info li {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-footer .container11 .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.section-footer .container11 .contactinfo .info li span:nth-child(1) img {
  max-width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 1;
}

.section-footer .container11 .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 1;
}

.section-footer .container11 .contactinfo .info li:hover span:nth-child(1) img,
.section-footer .container11 .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}

.section-footer .container11 .contactinfo .sci {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer .container11 .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

.section-footer .container11 .contactinfo .sci li a {
  text-decoration: none;
}

.section-footer .container11 .contactinfo .sci li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 1;
  width: 24px;
}

.section-footer .container11 .contactinfo .sci li:hover a img {
  opacity: 1;
}

.section-footer .container11 .contactForm {
  position: absolute;
  padding: 70px 50px;
  margin-left: 150px;
  padding-left: 250px;
  background: #fff;
  width: calc(100% - 150px);
  height: 100%;
  -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.section-footer .container11 .contactForm h2 {
  color: #272727;
  font-size: 24px;
  font-weight: 500;
}

.section-footer .container11 .contactForm .formBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.section-footer .container11 .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.section-footer .container11 .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.section-footer .container11 .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.section-footer .container11 .contactForm .formBox .inputBox input,
.section-footer .container11 .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.section-footer .container11 .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

.section-footer .container11 .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}

.section-footer .container11 .contactForm .formBox .inputBox input:focus ~ span,
.section-footer .container11 .contactForm .formBox .inputBox textarea:focus ~ span,
.section-footer .container11 .contactForm .formBox .inputBox input:valid ~ span,
.section-footer .container11 .contactForm .formBox .inputBox textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFC107;
}

.section-footer .container11 .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #FFC107;
  color: #fff;
  border: none;
  padding: 12px;
  max-width: 150px;
}

.section-footer .container11 .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #272727;
}

@media (max-width: 1110px) {
  .section-footer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 20px;
  }
  .section-footer .container11 {
    min-width: 100%;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-footer .container11 .contactinfo {
    margin: 0;
    top: 0;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-footer .container11 .contactinfo h2 {
    text-align: center;
  }
  .section-footer .container11 .contactinfo .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-footer .container11 .contactinfo .sci {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-footer .container11 .contactForm {
    position: relative;
    margin: 0;
    padding: 20px;
    width: 100%;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  }
  .section-footer .container11 .contactForm h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-footer .container11 .contactinfo .info {
    display: block;
  }
  .section-footer .container11 .contactinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-footer .container11 .contactForm .formBox .inputBox:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .section-footer {
    padding: 0px;
  }
  .section-footer .container11 .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header.bg-none {
  position: relative !important;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100%;
  width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: -10;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 11 !important;
}

.navbar ul {
  position: relative;
  top: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  z-index: 11;
}

.navbar ul a {
  z-index: 111;
  color: #444;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: 600;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar ul a:hover, .navbar ul a.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #FFC107;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
          box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
}

header .bg-2 {
  position: absolute;
  width: 250px;
  height: 80px;
  right: 0;
  top: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: #FFC107;
  z-index: 1;
}

header .navbar-brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11111;
  position: absolute;
  top: 50%;
  font-size: 2em;
  left: 100px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: #202020;
  font-weight: 700;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  opacity: 0.9;
}

header .navbar-brend .brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.9;
}

header .navbar-brend .brend span {
  font-size: 14px;
  color: #000;
  margin-left: 1px;
}

header .toggle {
  display: none;
}

header nav {
  z-index: 111;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
}

header nav ul li:last-child a {
  color: #fff;
  opacity: 1;
}

header nav ul a {
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  opacity: 0.7;
}

header nav ul a:hover, header nav ul a.active {
  color: #FFC107;
  opacity: 1;
}

.carusel-block {
  width: 100%;
  background: rgba(255, 255, 255, 0);
}

.carusel-block .bg {
  position: absolute;
  max-width: 1000px;
  width: 100%;
  height: 1000px;
  left: 0;
  top: 0;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  background: #FFC107;
}

.carusel-block .img-box img {
  width: 100%;
}

.carusel-block .carousel-control-prev,
.carusel-block .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  border-radius: 5px;
}

.carusel-block .carousel-control-prev {
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
}

.carusel-block .carousel-control-next {
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #FFC107;
}

.carusel-block .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 100px 0;
}

.carusel-block .carousel .carousel-item {
  padding: 0 50px;
}

.carusel-block .carousel .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carusel-block .carousel .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 30px;
  margin-bottom: 45px;
}

.carusel-block .carousel .detail-box h2 {
  text-transform: uppercase;
  color: #fff;
}

.carusel-block .carousel .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.carusel-block .carousel .detail-box p {
  margin-top: 15px;
  color: #fff;
}

.carusel-block .carousel .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
}

.carusel-block .carousel .detail-box a:hover {
  color: #FFC107;
  border: 1px solid #FFC107;
  background: #fff;
}

.about {
  width: 100%;
  padding: 100px 50px;
  position: relative;
}

.about img {
  position: relative;
  width: 100%;
}

.about .about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
  width: 100%;
}

.about .about-container .text_box {
  background: #27272E;
  padding: 50px;
  -webkit-box-shadow: 0.125rem 0.3125rem 1rem 0 rgba(73, 54, 54, 0.5);
          box-shadow: 0.125rem 0.3125rem 1rem 0 rgba(73, 54, 54, 0.5);
  position: relative;
}

.about .about-container .text_box::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 90%;
  bottom: -10px;
  right: -10px;
  background: #FFC107;
  z-index: -11;
}

.about .about-container .text_box span {
  color: #FFf;
  font-size: 2.2rem;
  font-weight: 600;
  position: relative;
  padding: 5px;
}

.about .about-container .text_box span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  background: #FFC107;
  height: 5px;
  width: 120%;
}

.about .about-container .text_box p {
  padding: 40px;
  font-size: 20px;
  text-align: justify;
  color: #FFf;
}

.about .about-container .text_box a {
  padding: 15px 30px;
  margin: 10px;
  color: #FFf;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #fcfcfc;
}

.about .about-container .text_box a:hover {
  border: 1px solid #FFC107;
  color: #fff;
  background: #FFC107;
}

.about .about-container .img_box {
  position: relative;
}

.about .about-container .img_box::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 90%;
  bottom: -10px;
  left: -10px;
  background: #FFC107;
  z-index: -11;
}

.courses {
  width: 100%;
  position: relative;
  background: url(../images/world_map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 100px;
}

.courses h2 {
  position: absolute;
  top: 30px;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}

.courses .container1 {
  position: relative;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.courses .container1 .card1 {
  position: relative;
  height: 250px;
  background: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin: 30px 0;
  border-radius: 4px;
}

.courses .container1 .card1 .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202020;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
  border: 10px solid #FFC107;
}

.courses .container1 .card1:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #FFC107;
  border: 1px solid #202020;
}

.courses .container1 .card1 .imgBx::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.courses .container1 .card1:hover .imgBx::before {
  font-size: 2em;
  bottom: 20px;
  color: #fff;
  z-index: 111;
}

.courses .container1 .card1 .imgBx img {
  max-width: 200px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.courses .container1 .card1:hover .imgBx img {
  max-width: 75px;
}

.courses .container1 .card1 .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses .container1 .card1 .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
}

.courses .container1 .card1 .content p {
  color: #fff;
}

.courses .container1 .card1 .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.courses .container1 .card1 .content a:hover {
  color: #FFC107;
  border: 1px solid #FFC107;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  margin: 0 20px;
}

.teacher {
  background: #FFC107;
  background-size: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  margin-top: 30px;
}

.teacher > h2 {
  position: absolute;
  top: 10%;
  font-size: 3em;
  font-weight: 700;
}

.testimonial {
  position: relative;
  max-width: 100%;
}

.testimonial .card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
          box-shadow: 0.125rem 0.3125rem 0.8rem 0 rgba(73, 54, 54, 0.5);
}

.testimonial .card:hover {
  border: 2px solid #fff;
}

.testimonial .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #202020;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.testimonial .card:hover .layer {
  top: 0;
}

.testimonial .card .content {
  position: relative;
  z-index: 2;
}

.testimonial .card .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #202020;
  text-align: justify;
}

.testimonial .card:hover .content p {
  color: #fff;
}

.testimonial .card .content .imgBx {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
  border-radius: 50px;
  overflow: hidden;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonial .card .content h2 {
  font-size: 18px;
  color: #202020;
}

.testimonial .card:hover .content h2 {
  color: #fff;
}

.testimonial .card .content h2 span {
  color: #03a9f4;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonial .card:hover .content h2 span {
  color: #fff;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.container-video {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.container-video .row-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.container-video .row-video .youtube_video {
  width: 60%;
  background-color: #000;
  position: relative;
  padding-bottom: 33.25%;
  height: 0;
}

.container-video .row-video .youtube_video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-video .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-video .gallery .item-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-video .gallery .item-col .video_content {
  padding: 10px;
}

.container-video .gallery .item-col .video_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.container-video .gallery .item-col .item {
  width: 100%;
  position: relative;
}

.container-video .gallery .item-col .item img {
  width: 100%;
  display: block;
}

.container-video .gallery .item-col .item .youtube_icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container-video .gallery .item-col .item .youtube_icon:hover {
  background-color: rgba(0, 0, 0, 0);
}

.container-video .gallery .item-col .item .youtube_icon .active {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.container-video .gallery .item-col .item .youtube_icon .active img {
  opacity: 0 !important;
}

.container-video .gallery .item-col .item .youtube_icon img {
  width: 50px;
}

@media (max-width: 778px) {
  .youtube_video {
    width: 90% !important;
    padding-bottom: 50.25% !important;
  }
  .video {
    padding: 30px 0;
  }
}

.courses-header {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) url(../images/courses-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.courses-header h2 {
  position: relative;
  top: 10%;
  left: -2%;
  font-size: 70px;
  color: #fff;
}

.courses-header .about-header-nav {
  position: relative;
  top: 10%;
  left: -2%;
}

.courses-header .about-header-nav a {
  color: #cecece;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

.courses-header .about-header-nav a:hover {
  color: #fff;
}

.nav-link {
  padding: 15px !important;
}

.page-section-courses {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 125px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f1f1;
}

.page-section-courses .courses-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 5%);
}

.page-section-courses .courses-card .nav {
  background: rgba(255, 255, 255, 0);
  width: calc(30% - 10%);
  border-radius: 4px;
}

.page-section-courses .courses-card .nav button {
  border-radius: 0;
  font-size: 20px;
  text-align: left;
  color: #FFC107;
  -webkit-box-shadow: 0px -2px 5px 1px rgba(15, 15, 18, 0.15);
          box-shadow: 0px -2px 5px 1px rgba(15, 15, 18, 0.15);
}

.page-section-courses .courses-card .nav button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-section-courses .courses-card .nav button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-section-courses .courses-card .nav button.active {
  background: #FFC107;
  color: #fff;
}

.page-section-courses .courses-card .accordion-button::after {
  background-image: url(../images/down-arrow.png);
}

.page-section-courses .courses-card .tab-content {
  background: #27272e;
  width: 70%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(15, 15, 18, 0.15);
          box-shadow: 0px 0px 5px 3px rgba(15, 15, 18, 0.15);
}

.page-section-courses .courses-card .tab-content .accordion button {
  border: none;
}

.page-section-courses .courses-card .tab-content .accordion button.accordion-button:not(.collapsed) {
  background: #FFC107;
  color: #fff;
}

.page-section-courses .courses-card .tab-content .accordion button.accordion-button:focus, .page-section-courses .courses-card .tab-content .accordion button.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-section-courses .courses-card .tab-content .accordion a {
  text-decoration: none;
}

.page-section-courses .courses-card .tab-content .accordion .accordion-item,
.page-section-courses .courses-card .tab-content .accordion button {
  font-size: 18px;
  color: #fff;
  background: none;
}

.page-section-courses .courses-card .tab-content .accordion .accordion-body table {
  width: 100%;
}

.page-section-courses .courses-card .tab-content .accordion .accordion-body table tr {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.about-header {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) url(../images/header-london.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.about-header h2 {
  position: relative;
  top: -7%;
  font-size: 50px;
  color: #fff;
}

.about-header .about-header-nav {
  position: relative;
  top: -7%;
}

.about-header .about-header-nav a {
  color: #cecece;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

.about-header .about-header-nav a:hover {
  color: #fff;
}

.gallery-about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
}

.gallery-about a {
  width: calc(91% / 3);
  margin: 1.5%;
  background: rgba(0, 0, 0, 0);
}

.gallery-about a:hover img {
  -webkit-box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.75);
}

.gallery-about a img {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1200px) {
  .gallery-about a {
    width: calc(91% / 2);
  }
}

@media (max-width: 700px) {
  .gallery-about a {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .navbar.navbar-active {
    width: 100%;
    opacity: 1;
    z-index: 1;
  }
  header {
    overflow: hidden;
  }
  header nav {
    display: none;
  }
  header .toggle {
    position: relative;
    display: block;
    z-index: 10000000;
  }
  header .toggle .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header .toggle button {
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12.5px;
    border-radius: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .toggle button span {
    display: block;
    width: 35px;
    height: 3.5px;
    background-color: #fff;
    margin: 3px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
  }
  header .toggle.btn-active button .s-1 {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
  }
  header .toggle.btn-active button .s-2 {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  header .toggle.btn-active button .s-3 {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
            transform: rotate(-45deg) translate(6px, -6px);
    background-color: #fff;
  }
}

@media (max-width: 1300px) {
  .about {
    width: 100%;
    padding: 50px;
    position: relative;
  }
  .about img {
    width: calc(100% - 20px);
  }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about .about-container .text_box {
    width: 80%;
    padding: 50px;
  }
  .about .about-container .text_box span {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .about .about-container .text_box p {
    padding: 40px;
    font-size: 20px;
    color: #fff;
  }
  .about .about-container .text_box a {
    padding: 15px 30px;
    margin: 10px;
    font-weight: 600;
  }
  .about .about-container .text_box a:hover {
    border: 1px solid #FFC107;
    color: #FFC107;
  }
  .about .about-container .img_box {
    position: absolute;
    top: 0px;
    left: 0;
  }
}

@media (max-width: 992px) {
  .courses .container1 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .courses .container1 .card1 {
    width: 480px;
  }
  .about {
    width: 100%;
    padding: 50px 10px;
    position: relative;
  }
  .about img {
    width: calc(100% - 20px);
  }
  .about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about .about-container .text_box {
    width: 100%;
    padding: 50px;
  }
  .about .about-container .text_box span {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .about .about-container .text_box p {
    padding: 10px;
    font-size: 20px;
  }
  .about .about-container .img_box {
    display: none;
    top: 0px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }
  .courses .container1 .card1 {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .courses .container1 .card1 .imgBx {
    position: relative;
  }
  .courses .container1 .card1 .imgBx,
  .courses .container1 .card1:hover .imgBx {
    width: 100%;
    height: 100%;
    left: 0;
  }
  .courses .container1 .card1 .imgBx img,
  .courses .container1 .card1:hover .imgBx img {
    max-width: 100px;
    margin: 40px 0;
  }
  .courses .container1 .card1 .content {
    position: relative;
    width: 100%;
  }
  .about {
    width: 100%;
    padding: 50px 10px;
  }
  .about .about-container {
    width: 100%;
  }
  .about .about-container .text_box {
    width: 100%;
    padding: 20px;
  }
  .about .about-container .text_box span {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .about .about-container .text_box p {
    padding: 10px;
    font-size: 20px;
    color: #fff;
  }
}

@media (max-width: 468px) {
  header .bg-2 {
    width: 150px;
    height: 80px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background: #FFC107;
    z-index: 1;
  }
  header .navbar-brend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 11111;
    position: absolute;
    top: 50%;
    font-size: 2em;
    left: 40px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    color: #202020;
    font-weight: 700;
    -webkit-transition: 1s;
    transition: 1s;
    text-decoration: none;
  }
  .about {
    width: 100%;
    padding: 20px 0;
  }
  .about .about-container {
    width: 100%;
  }
  .about .about-container .text_box {
    width: 100%;
    padding: 30px 20px;
  }
  .about .about-container .text_box span {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .about .about-container .text_box p {
    padding: 10px;
    font-size: 18px;
    color: #fff;
  }
}

@media (max-width: 375px) {
  .about {
    width: calc(100% - 20px);
    padding: 20px 10px;
  }
  .about .about-container {
    width: 100%;
  }
  .about .about-container .text_box {
    width: 100%;
    padding: 30px 20px;
  }
  .about .about-container .text_box span {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
  }
  .about .about-container .text_box p {
    padding: 10px;
    font-size: 18px;
    color: #fff;
  }
}

@media (max-width: 1400px) {
  .page-section-courses .courses-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 10%);
  }
  .page-section-courses .courses-card .nav {
    width: calc(30%);
  }
  .page-section-courses .courses-card .nav button {
    text-align: left;
  }
  .page-section-courses .courses-card .tab-content {
    width: 70%;
    border-radius: 4px;
  }
  .page-section-courses .courses-card .tab-content .accordion
.accordion-body table {
    width: 100%;
  }
  .page-section-courses .courses-card .tab-content .accordion
.accordion-body table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0;
  }
}

@media (max-width: 650px) {
  .w11 {
    position: relative;
  }
  .page-section-courses {
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: none;
  }
  .page-section-courses .courses-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 10%);
  }
  .page-section-courses .courses-card .nav {
    width: calc(100%);
    margin-bottom: 20px;
  }
  .page-section-courses .courses-card .tab-content {
    width: 100%;
    border-radius: 4px;
  }
  .page-section-courses .courses-card .tab-content .accordion
.accordion-body table {
    width: 100%;
  }
  .page-section-courses .courses-card .tab-content .accordion
.accordion-body table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */