{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/British-01.svg' %}" type="image/x-icon">
    <title>British</title>
</head>
<body>
    <div class="header">
      <header>
        <div class="bg-2"></div>
        <div class="navbar-brend"><img src="{% static 'images/British-01.svg' %}" width="60px" height="60px" alt="">BRITISH</div>
        <nav>
          <ul>
              <li><a href="{% url 'index' %}" >Bosh sahifa</a></li>
              <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
              <li><a href="{% url 'courses' %}">Kurslar</a></li>
              <li><a href="{% url 'contact' %}">Ro'yxatdan o'tish</a></li>
          </ul>
        </nav>
        <div class="toggle">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
    </header>  
  </div>
  <nav class="navbar">
      <ul>
          <li><a href="{% url 'index' %}" >Bosh sahifa</a></li>
          <li><a href="{% url 'about' %}" >Biz haqimizda</a></li>
          <li><a href="{% url 'courses' %}">Kurslar</a></li>
          <li><a href="{% url 'contact' %}"class="active">Ro'yxatdan o'tish</a></li>
      </ul>
  </nav>
      <footer>
        <section class="section-footer">
          <div class="container11">
             <form method="post" action="{% url 'message' %}">{% csrf_token %}
            <div class="contactForm">
                <h2>Ro'yxatdan o'tish</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                            <input type="text" name="name" required>
                            <span>Ismingizni kiriting</span>
                    </div>

                    <div class="inputBox w50">
                            <input type="text" name="full_name" required>
                            <span>Familiyangizni kiriting</span>
                    </div>

                <div class="inputBox w50">
                    <input type="text" name="phone_number" required>
                    <span>Raqamingizni kiriting</span>
                </div>
                <div class="inputBox w100">
                    <textarea name="message" required></textarea>
                    <span>Xabaringizni shu erga yozing...</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Jo'natish">
                </div>
            </div>
        </div></form>
                <div class="contactinfo">

                        <h2>Kontaklar</h2>
                    {% for i in contact %}
                        <ul class="info">
                            <li>
                                <span><img src="{% static 'images/location.png' %}" alt=""></span>
                                <span>{{ i.manzil }}</span>
                            </li>
                            <li><span><img src="{% static 'images/email.png' %}" alt=""></span>
                                <span>{{ i.email }}</span>
                        </li>
                            <li><span><img src="{% static 'images/call.png' %}" alt=""></span>
                                <span>{{ i.phone_number }}</span>
                        </li>
                        </ul>
                        <ul class="sci">
                            <li><a href="{{ i.facebook }}"><img src="{% static 'images/1.png' %}" alt=""></a></li>
                            <li><a href="{{ i.you_tube }}"><img src="{% static 'images/2.png' %}" alt=""></a></li>
                            <li><a href="{{ i.telegram }}"><img src="{% static 'images/3.png' %}" alt=""></a></li>
                            <li><a href="{{ i.tik_tok }}"><img src="{% static 'images/4.png' %}" alt=""></a></li>
                            <li><a href="{{ i.instagram }}"><img src="{% static 'images/5.png' %}" alt=""></a></li>
                        </ul>
                    {% endfor %}
                </div>
              
          </div>
        </section>
      </footer>
      </main>
      <script src="{% static 'js/baguetteBox.js' %}"></script>
      <script>
        window.addEventListener('load', function() {
          baguetteBox.run('.gallery-about');
        });
        </script>
      <script src="{% static 'js/main.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
  </html>