{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/British-01.svg" type="image/x-icon' %}">
    <title>British</title>
</head>

<body>
    <div class="regist">
        <div class="contactForm">
            <button  class="buttom-none" onclick="dnone()"><img src="{% static 'images/close.png' %}" alt=""></button>
            <h2>Ro'yxatdan o'tish</h2>
            <form method="post" action="{% url 'message' %}">{% csrf_token %}
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="name" required>
                    <span>Ismingizni kiriting</span>
                </div>

                <div class="inputBox w50">
                    <input type="text" name="full_name" required>
                    <span>Familiyangizni kiriting</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="phone_number" required>
                    <span>Raqamingizni kiriting</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="message" required>
                    <span>Qaysi kursga yozilmoqchisiz?</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Jo'natish">
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="header">
        
        <header class="bg-none">
            <div class="bg-2"></div>
            <div class="navbar-brend"><img src="{% static 'images/British-01.svg' %}" width="60px" height="60px" alt="">BRITISH</div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
                    <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                    <li><a href="{% url 'courses' %}" class="active">Kurslar</a></li>
                    <li><a href="{% url 'contact' %}">Ro'yhatdan o'tish</a></li>
                </ul>
            </nav>
            <div class="toggle">
                <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
            </div>
        </header>
        
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Bosh sahifa</a></li>
            <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
            <li><a href="{% url 'courses' %}"  class="active">Kurslar</a></li>
            <li><a href="{% url 'contact' %}">Ro'yxatdan o'tish</a></li>
        </ul>
    </nav>
    <div class="courses-header">
        <h2>KURSLAR</h2>
        <div class="about-header-nav">
          <a href="{% url 'index' %}">Bosh sahifa</a> >
          <a href="{% url 'courses' %}">Kurslar</a>
        </div>
       </div>
    <section class="page-section-courses">
        <div class="courses-card">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">English</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Russian</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Chinese</button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Korean</button>
                <button class="nav-link" id="v-pills-profile1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile1" type="button" role="tab" aria-controls="v-pills-profile1" aria-selected="false">Japan</button>
                <button class="nav-link" id="v-pills-messages1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages1" type="button" role="tab" aria-controls="v-pills-messages1" aria-selected="false">Turkish</button>
                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings1" type="button" role="tab" aria-controls="v-pills-settings1" aria-selected="false">Arabic</button>
                <button class="nav-link" id="v-pills-settings2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings2" type="button" role="tab" aria-controls="v-pills-settings2" aria-selected="false">Germany</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          IELTS
                        </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a href="#">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a href="#">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="accordion" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <a href="#">
                                        <table>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>200,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>400,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>600,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <a href="#">
                                        <table>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>200,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>400,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>600,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                          HSK
                        </button>
                            </h2>
                            <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <a href="#">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="accordion" id="accordionExample3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne3">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                            TOPIK
                        </button>
                            </h2>
                            <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne3" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample3">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel" aria-labelledby="v-pills-profile1-tab">
                    <div class="accordion" id="accordionExample4">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                            JLPT 
                        </button>
                            </h2>
                            <div id="collapseOne4" class="accordion-collapse collapse show" aria-labelledby="headingOne4" data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4" data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4" data-bs-parent="#accordionExample4">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages1" role="tabpanel" aria-labelledby="v-pills-messages1-tab">
                    <div class="accordion" id="accordionExample5">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne5">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseOne5" class="accordion-collapse collapse show" aria-labelledby="headingOne5" data-bs-parent="#accordionExample5">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo5" class="accordion-collapse collapse" aria-labelledby="headingTwo5" data-bs-parent="#accordionExample5">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
                    <div class="accordion" id="accordionExample6">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne6">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseOne6" class="accordion-collapse collapse show" aria-labelledby="headingOne6" data-bs-parent="#accordionExample6">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo6">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo6" class="accordion-collapse collapse" aria-labelledby="headingTwo6" data-bs-parent="#accordionExample6">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                    <div class="accordion" id="accordionExample7">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
                            TESTDAF
                        </button>
                            </h2>
                            <div id="collapseOne7" class="accordion-collapse collapse show" aria-labelledby="headingOne7" data-bs-parent="#accordionExample7">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo7" aria-expanded="false" aria-controls="collapseTwo7">
                          Grammatika
                        </button>
                            </h2>
                            <div id="collapseTwo7" class="accordion-collapse collapse" aria-labelledby="headingTwo7" data-bs-parent="#accordionExample7">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                          Speking
                        </button>
                            </h2>
                            <div id="collapseThree7" class="accordion-collapse collapse" aria-labelledby="headingThree7" data-bs-parent="#accordionExample7">
                                <div class="accordion-body">
                                    <a href="contact.html">
                                        <table>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 8/10</td>
                                                <td>300,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>grux 2/4</td>
                                                <td>500,000 so'm/oy</td>
                                            </tr>
                                            <tr>
                                                <td>Uzb/Ru</td>
                                                <td>3/6/9 oy</td>
                                                <td>individual</td>
                                                <td>800,000 so'm/oy</td>
                                            </tr>
                                        </table>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer>
        <section class="section-footer">
            <div class="container11">
                <div class="contactForm">
                    <h2>Ro'yxatdan o'tish</h2>
                     <form method="post" action="{% url 'message' %}">{% csrf_token %}
                    <div class="formBox">
                        <div class="inputBox w50">
                            <input type="text" name="name" required>
                            <span>Ismingizni kiriting</span>
                        </div>

                        <div class="inputBox w50">
                            <input type="text" name="full_name" required>
                            <span>Familiyangizni kiriting</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="text" name="phone_number" required>
                            <span>Raqamingizni kiriting</span>
                        </div>
                        <div class="inputBox w100">
                            <textarea name="message" required></textarea>
                            <span>Xabaringizni shu erga yozing...</span>
                        </div>
                        <div class="inputBox w100">
                            <input type="submit" value="Jo'natish">
                        </div>
                         </form>
                    </div>
                </div>
                <div class="contactinfo">

                    <h2>Kontaklar</h2>
                    {% for i in contact %}
                    <ul class="info">
                        <li>
                            <span><img src="{% static 'images/location.png' %}" alt=""></span>
                            <span>{{ i.manzil }}</span>
                        </li>
                        <li><span><img src="{% static 'images/email.png' %}" alt=""></span>
                            <span>{{ i.email }}</span>
                        </li>
                        <li><span><img src="{% static 'images/call.png' %}" alt=""></span>
                            <span>{{ i.phone_number }}</span>
                        </li>
                    </ul>
                    <ul class="sci">
                        <li>
                            <a href="{{ i.facebook }}"><img src="{% static 'images/1.png' %}" alt=""></a>
                        </li>
                        <li>
                            <a href="{{ i.you_tube }}"><img src="{% static 'images/2.png' %}" alt=""></a>
                        </li>
                        <li>
                            <a href="{{ i.telegram }}"><img src="{% static 'images/3.png' %}" alt=""></a>
                        </li>
                        <li>
                            <a href="{{ i.tik_tok }}"><img src="{% static 'images/4.png' %}" alt=""></a>
                        </li>
                        <li>
                            <a href="{{ i.instagram }}"><img src="{% static 'images/5.png' %}" alt=""></a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>

            </div>
        </section>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>