{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="shortcut icon" href="{% static 'images/British-01.svg" type="image/x-icon' %}">
    <title>British</title>
</head>
<body>
    <div class="header">
      <header>
          <div class="navbar-brend"><img src="{%  static 'images/British-01.svg" width="60px" height="60px' %}" alt=""><div class="brend">BRITISH
          <span>Language center</span></div></div>
          <div class="bg-2"></div>
          <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="active">Bosh sahifa</a></li>
                <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
                <li><a href="{% url 'courses' %}">Kurslar</a></li>
                <li><a href="{% url 'contact' %}">Ro'yxatdan o'tish</a></li>
            </ul>
          </nav>
          <div class="toggle">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
      </header>  
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'index' %}" class="active">Bosh sahifa</a></li>
            <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
            <li><a href="{% url 'courses' %}">Kurslar</a></li>
            <li><a href="{% url 'contact' %}">Ro'yxatdan o'tish</a></li>
        </ul>
    </nav>
    <div class="carusel-block">
      <div class="bg"></div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-5 ">
                <div class="detail-box">
                  <h2>
                    ENG ZO'R O'QUV MARKAZ
                  </h2>
                  <h1>
                    SIZ UCHUN
                  </h1>
                  <p>
                    Bizning o'quv markazimizda Ingilz, Rus, Xitoy, Koreys, Yapon, Nemis, Turk va Arab tillarini mukammal va tez organing!
                  </p>
                  <a href="{% url 'about' %}" class="btn-1">
                    Batafsil
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{%  static 'images/shutterstock.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-5 "> 
                <div class="detail-box">
                  <h2>
                    ENG ZO'R O'QUV MARKAZ
                  </h2>
                  <h1>
                    SIZ UCHUN
                  </h1>
                  <p>
                    Bizning o'quv markazimizda Ingilz, Rus, Xitoy, Koreys, Yapon, Nemis, Turk va Arab tillarini mukammal va tez organing!
                  </p>
                  <a href="{% url 'about' %}" class="btn-1">
                    Batafsil
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{%  static 'images/shutterstock.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-5 ">
                <div class="detail-box">
                  <h2>
                    ENG ZO'R O'QUV MARKAZ
                  </h2>
                  <h1>
                    SIZ UCHUN
                  </h1>
                  <p>
                    Bizning o'quv markazimizda Ingilz, Rus, Xitoy, Koreys, Yapon, Nemis, Turk va Arab tillarini mukammal va tez organing!
                  </p>
                  <a href="{% url 'about' %}" class="btn-1">
                    Batafsil
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{%  static 'images/shutterstock.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
        <section class="about">
          <div class="about-container">
              {% for i in about %}
            <div class="img_box">
             <img src="{{ i.image.url }}" alt="">
            </div>
            <div class="text_box">
              <span>{{ i.title }}</span>
              <p>{{ i.text }}</p>  <a href="{%  url 'courses' %}">Batafsil</a>
            </div>
              {% endfor %}
          </div>
        </section>
        <section class="courses">
          <h2>KURSLAR</h2>
          <div class="container1">
            {% for i in courses %}
            <div class="card1">
                <div class="imgBx" data-text="{{ i.course_name }}">
                    <img src="{{ i.image.url }}" alt="">
                </div>
                <div class="content">
                    <div>
                        <h3>{{ i.course_name }}</h3>
                        <p>{{ i.text }}</p>
                        <a href="{% url 'courses' %}">Batafsil</a>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
        </section>
        <section class="teacher">
          <h2>O'qituvchilar</h2>
          <div class="testimonial">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for i in teacher %}
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="layer"> </div>
                            <div class="content">
                              <div class="imgBx">
                                    <img src="{{ i.image.url }}" alt="" style="width:100px;">
                                </div>
                                <div class="details">
                                    <h2>{{ i.full_name }}<br>
                                        <span>{{ i.yunalishi }}</span>
                                    </h2>
                                </div>
                                <p>
                                 {{ i.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </section>
        <section class="video">
          <div class="container-video">
            <div class="row-video">
                <div class="youtube_video">
                    <iframe width="100%" height="100%" id="video_id" src="https://www.youtube.com/embed/Z3y_QSQVsA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="gallery">
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="item-col">
                            <div class="item">
                                <img src="{%  static 'images/razer-1.png' %}" alt="" data-id="Z3y_QSQVsA8">
                                <div class="youtube_icon active">
                                    <img src="{%  static 'images/youtube.png' %}" alt="">
                                </div> 
                            </div>
                            <div class="video_content">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, eligendi?</p>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="item-col">
                            <div class="item">
                                <img src="{%  static 'images/razer-2.png' %}" alt="" data-id="hh0aJusncI0">
                                <div class="youtube_icon">
                                    <img src="{%  static 'images/youtube.png' %}" alt="">
                                </div>
                            </div>
                            <div class="video_content">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, eligendi?</p>
                            </div>
                        </div>  
                      </div>
                      <div class="swiper-slide">
                          <div class="item-col">
                            <div class="item">
                                <img src="{%  static 'images/razer-3.png' %}" alt="" data-id="T4U6M3x14OY">
                                <div class="youtube_icon">
                                    <img src="{%  static 'images/youtube.png' %}" alt="">
                                </div>
                            </div>
                            <div class="video_content">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, eligendi?</p>
                             </div>
                          </div>
                        </div>
                      <div class="swiper-slide">
                          <div class="item-col">
                            <div class="item">
                                <img src="{%  static 'images/razer-4.png' %}" alt="" data-id="kfFHghqiIAU">
                                <div class="youtube_icon">
                                    <img src="{%  static 'images/youtube.png' %}" alt="">
                                </div>
                            </div>
                            <div class="video_content">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, eligendi?</p>
                            </div>
                         </div>
                     </div>
                    </div>
                  </div>   
        </div>
        </div>
        </section>
        <footer>
          <section class="section-footer">
            <div class="container11">
              <div class="contactForm">
                  <h2>Ro'yxatdan o'tish</h2>
                    <form method="post" action="{% url 'message' %}">{% csrf_token %}

                  <div class="formBox">
                      <div class="inputBox w50">
                              <input type="text" name="name" required>
                              <span>Ismingizni kiriting</span>
                      </div>
                  
                      <div class="inputBox w50">
                              <input type="text" name="full_name" required>
                              <span>Familiyangizni kiriting</span>
                      </div>
                  <div class="inputBox w50">
                      <input type="text" name="phone_number" required>
                      <span>Raqamingizni kiriting</span>
                  </div>
                  <div class="inputBox w100">
                      <textarea name="message" required></textarea>
                      <span>Xabaringizni shu erga yozing...</span>
                  </div>
                  <div class="inputBox w100">
                      <input type="submit" value="Jo'natish">
                  </div>
                    </form>
              </div> 
          </div>

                  <div class="contactinfo">
                      
                          <h2>Kontaklar</h2>
                      {% for i in contact %}
                          <ul class="info">
                              <li>
                                  <span><img src="{%  static 'images/location.png' %}" alt=""></span>
                                  <span>{{ i.manzil }}</span>
                              </li>
                              <li><span><img src="{%  static 'images/email.png' %}" alt=""></span>
                                  <span>{{ i.email }}</span>
                          </li>
                              <li><span><img src="{%  static 'images/call.png' %}" alt=""></span>
                                  <span>{{ i.phone_number }}</span>
                          </li>
                          </ul>
                          <ul class="sci">
                              <li><a href="{{ i.facebook }}"><img src="{% static 'images/1.png' %}" alt=""></a></li>
                              <li><a href="{{ i.you_tube }}"><img src="{% static 'images/2.png' %}" alt=""></a></li>
                              <li><a href="{{ i.telegram }}"><img src="{% static 'images/3.png' %}" alt=""></a></li>
                              <li><a href="{{ i.tik_tok }}"><img src="{% static 'images/4.png' %}" alt=""></a></li>
                              <li><a href="{{ i.instagram }}"><img src="{% static 'images/5.png' %}" alt=""></a></li>
                          </ul>
                      {% endfor %}
      
                  </div> 
                
            </div>
          </section>
        </footer>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 0,
            modifier: 1,
            slideShadows: true,
          },
         loop:true
        });
    </script>
     <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js' %}" integrity="sha512-qzrZqY/kMVCEYeu/gCm8U2800Wz++LTGK4pitW/iswpCbjwxhsmUwleL1YXaHImptCHG0vJwU7Ly7ROw3ZQoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          $ (document).ready(function () {
              $(".item").click(function () {
                  let youtube_id = $(this).children("img").attr("data-id");
                  $(this).children(".youtube_icon").addClass("active").parent().siblings().children(".youtube_icon").removeClass("active");
              let = newUrl = `https://www.youtube.com/embed/${youtube_id}`;
              $("#video_id").attr("src", newUrl);
              })
          })
      </script>
      <script>
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 'auto',
            spaceBetween: 30,
            
            keyboard: {
            enabled: true,
          },
          breakpoints: {
            769: {
              slidesPerView: 'auto',
            },
            400: {
              slidesPerView: 'auto',
  
            },
          },
          loop:false
          });
        </script>
</body>
</html>